<!-- About Section -->
<section id="{{ page.title }}" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        {{ page.content | markdownify }}

        {% for project in site.posts %}
        <h4 class="lowercase">
        <small> {{ project.category }} .</small>
        <strong> <a href="{{ project.url }}">{{ project.title }}</a> </strong>
          <strong> . {{ project.platform | array_to_sentence_string }}</strong> <small> . {{ project.languages | array_to_sentence_string }} . </small>

          <small><div style="color:white"> {{ project.description }} </div></small>
        </h4>
        {% endfor %}

      </div>
    </div>
</section>
